				
				.peacock_bg {
                    position: absolute;
                    background: #f7f8ff;
                    width: 29px;
                    height: 30px;
                    border-radius: 50% 0% 59% 9%;
                    left: 127px;
                    top: 68px;
                }
                
                .fa.fa-pencil-square-o.peocock_pen {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
                
                .btn.bg_waterblue.text-primary {
                    background-color: #f7f8ff;
                }
                
                .col-md-6.font_20.font_weigh_600 {
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 29px;
                }
                
                .w-100.mt-3 {
                    border-bottom: 1px solid #E6E8F8 !important;
                }
                
                .col-md-12.col-form-label.grey_text.mb-2 {
                    font-size: 18px;
                    color: #030303;
                    opacity: 50%;
                    line-height: 22px;
                }
                
                .col-md-12.col-form-label.grey_text {
                    font-size: 18px;
                    color: #030303;
                    opacity: 50%;
                    line-height: 22px;
                }
                
                .form-control.bg-white {
                    border: 1px solid #848DDB;
                    border-radius: 20px;
                }
                
                .form-control.bg-white {
                    font-size: 16px;
                    color: #030303;
                }
                
                .nav-item.p-0>a {
                    color: #030303;
                }
                
                .form-control.bg-white.edit {
                    font-size: 16px;
                    color: #e1e2eb;
                    /* opacity: 20%; */
                    border: 1px solid #848DDB !important;
                }
                
                .col-md-12.col-form-label.grey_text.edit {
                    font-size: 18px;
                    color: #030303;
                    opacity: 50%;
                    line-height: 22px;
                    margin-top: 10px;
                }
                
                .manage-buttons {
                    background-color: #ddd;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                }
                
                .border-radius {
                    border-radius: 15px;
                }
                
                .row.mx-auto {
                    background-color: #f7f8ff;
                    padding: 10px;
                    border-radius: 15px;
                    margin-top: 10px;
                    border: 1px solid #848DDB;
                }
                
                .bg-success.border-success.text-white {
                    padding: 6px;
                    border-radius: 5px;
                    border: 1px solid #28a745;
                }
                
                .col-md-2.logo {
                    font-weight: 600;
                    font-size: 20px;
                }
                
                .bg-success.border-success.text-white {
                    font-size: 16px;
                }
                
                .btn.btn-primary.dropdown-toggle {
                    background-color: #848DDB;
                    border: 1px solid #848DDB;
                }
                
                .col-md-2.list-group-item.border-0>a {
                    color: #7f7f7f;
                    font-size: 17px;
                    text-decoration: underline;
                }
                
                .row.col-md-12 {
                    margin: 0 auto;
                    padding: 10px;
                }
                
                .col-md-6.label {
                    display: block;
                }
                
                .modal-header {
                    background-color: #848ddb;
                    color: white;
                    padding: 10px;
                }
                
                .dropdown-menu {
                    background: #f7f8ff;
                }
                
                .dropdown-menu.show>li {
                    padding: 5px;
                }
                
                .dropdown-menu.show>li>a {
                    color: #000;
                }
                
                .edit-user {
                    width: 16px;
                }