.col-md-2.form-group.mb-0.analytics>label {
    color: #030303;
    font-size: 18px;
}

.bg_waterblue {
    background-color: #f7f8ff;
    border: 1px solid #848DDB !important;
    border-radius: 15px;
}

.numberic {
    color: #848DDB;
    font-size: 56px;
    line-height: 52px;
}

.chats_details {
    font-size: 1rem;
    font-weight: 600;
}

.card.bg_waterblue.mt-3.p-3 {
    background-color: #F7F8FF;
    border-radius: 15px;
    border: 1px solid #848DDB;
}

.card.background-primary.mt-3.p-3 {
    background-color: #848DDB;
    border-radius: 15px;
    color: #Fff;
}

.border-color {
    border: 1px solid #848DDB !important;
    border-radius: 15px;
}

li.nav-item.p-0>a {
    color: #030303;
}

.text-primary {
    color: #848DDB !important;
}

button.btn.btn-light.border-rep.m-3.p-2 {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    background-color: #F2F2F2;
    border-color: 1px solid #EBEBEB !important;
}

.col-md-2.form-group.mb-0.analytics {
    max-width: 22% !important;
}

label.text-primary.graph_text {
    color: #848DDB !important;
    text-align: center;
    line-height: 200px;
    font-size: 18px;
    font-weight: bold;
}
