<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
     <a class="sidebar-brand d-flex align-items-left justify-content-left" routerLink = '/dashboard' >
     <div class="sidebar-brand-icon rotate-n-15">
       <img src="../../../assets/Dashboard/logo.JPG" width="30">
     </div>
     <div class="sidebar-brand-text">
       TWIXOR
     </div>
     </a>
 
     <hr class="sidebar-divider my-0">
 
     <li class="nav-item active">
       
     <a class="nav-link p-0" routerLink="/dashboard" (click)="dashboard()">
       <div class="padding-10">
     <img src="assets/img/sidenav/Asset10.svg" class="sidebar_icons">
     <span >Dashboard</span></div></a>
     </li>
     
     <li class="nav-item">
     <a class="nav-link p-0">     
     <div class="nav-link collapsed active_class"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class = "accordionSidebar">
        <img src="assets/img/sidenav/Asset11.svg" class="sidebar_icons">
        <span>Chat</span>
           <img src="assets/img/expand-sidebar.svg" class="arrow_icon">
           <img src="assets/img/close-sidebar.svg" class="arrow_icon for_close">
     </div>
        <div class="panelSidebar" id="collapseTwo" class="collapse show m-0" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
          <div class="py-2 collapse-inner rounded">
            <a class="collapse-item p-1 active" routerLink="/chat" (click)="chat()">Conversation</a>
            <a class="collapse-item p-1"  target="_parent" (click)="analytics()">Analytics</a>
            <a class="collapse-item p-1"  target="_parent">Real-time monitor</a>
            <a class="collapse-item p-1"  target="_parent" (click)="chatHistory()">Chat History</a>
          </div>
        </div> 
     </a>
     </li>
 
     <li class="nav-item" style="margin-bottom:80px;">
     <a class="nav-link collapsed p-0"  data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
     <div class = "accordionSidebar">
        <img src="assets/img/sidenav/Asset12.svg" class="sidebar_icons"> 
     <span>Campaign</span>
        <img src="assets/img/expand-sidebar.svg" class="arrow_icon ">
        <img src="assets/img/close-sidebar.svg" class="arrow_icon for_close">
     </div>
        <div class="panelSidebar" id="collapseUtilities" class="collapse  m-0" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded">
            <a class="collapse-item p-1 active" href="encaps_launchpad/encaps_launchpad.html" target="_parent">enCaps Launchpad</a>
            <a class="collapse-item p-1" href="running_campaign/running_campaign.html" target="_parent">Running Campaign</a>
          </div>
        </div>
     </a>
     </li>

     <li class="nav-item">
     <a class="nav-link collapsed p-0"  data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages" >
    <div class = "accordionSidebar">
        <img src="assets/img/sidenav/Asset13.svg" class="sidebar_icons">
     <span>Encaps</span>
     <img src="assets/img/expand-sidebar.svg" class="arrow_icon top">
     <img src="assets/img/close-sidebar.svg" class="arrow_icon for_close">
    </div>
        <div class="panelSidebar" id="collapsePages" class="collapse  m-0" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded">
            <!-- <a class="collapse-item p-1 active" href="encaps_dashboard/encaps_dashboard.html" target="_parent">Dashboard</a> -->
            <a class="collapse-item p-1 active" [routerLink]='["/encaps"]' (click)="encaps()">Dashboard</a>
            <a class="collapse-item p-1" href="encaps_workspace/workspace.html" target="_parent">Workspace</a>
            <a class="collapse-item p-1" href="encaps_report/encaps_report.html" target="_parent">Reports</a>
          
          </div>
        </div>
     </a>
     </li>

     <li class="nav-item">
     <a class="nav-link collapsed p-0"  data-toggle="collapse" data-target="#journey" aria-expanded="true" aria-controls="journey">
    <div class = "accordionSidebar">
        <img src="assets/img/sidenav/Asset14.svg" class="sidebar_icons">
     <span>Journey</span>
     <img src="assets/img/expand-sidebar.svg" class="arrow_icon">
     <img src="assets/img/close-sidebar.svg" class="arrow_icon for_close">
     </div>
        <div class="panelSidebar" id="journey" class="collapse  m-0" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded">
            <a class="collapse-item p-1 active" href="journey/journey.html" target="_parent">Journey</a>
            <a class="collapse-item p-1" href="journey-report/journey_report.html" target="_parent">Reports</a>
          
          </div>
        </div>
     </a>
     </li>

      <li class="nav-item">
     <a class="nav-link collapsed p-0"  data-toggle="collapse" data-target="#settings" aria-expanded="true" aria-controls="settings">
    <div class = "accordionSidebar">
      <img src="assets/img/sidenav/Asset15.svg" class="sidebar_icons">
     <span>Settings</span>
     <img src="assets/img/expand-sidebar.svg" class="arrow_icon">
     <img src="assets/img/close-sidebar.svg" class="arrow_icon for_close">
    </div>
        <div class="panelSidebar" id="settings" class="collapse  m-0" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded">
             <a class="collapse-item p-1 active " href="settings_enterprise_details/enterprise_details.html" target="_parent">Enterprise Details</a>
            <a class="collapse-item p-1" href="settings_manage/manage.html" target="_parent">Manage</a>
            <a class="collapse-item p-1" href="settings_channel/channel.html" target="_parent">Channels</a>
          
          </div>
        </div>
     </a>
     </li>
      <li class="nav-item">
     <a class="nav-link collapsed p-0"  data-toggle="collapse" data-target="#copper" aria-expanded="true" aria-controls="copper">
     <div class = "accordionSidebar">
     <img src="assets/img/sidenav/Asset16.svg" class="sidebar_icons">
     <span>John Copper<br><button class="btn btn-primary p-0 admin">Admin</button></span>
     <img src="assets/img/expand-sidebar.svg" class="arrow_icon">
     <img src="assets/img/close-sidebar.svg" class="arrow_icon for_close">
    </div>
        <div class="panelSidebar" id="copper" class="collapse  m-0" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="py-2 collapse-inner rounded">
           <a class="collapse-item p-1 active" href="profile_details/profile_details.html" target="_parent">Details</a>
            <a class="collapse-item p-1" href="#" target="_parent" (click)="logOut()" >Signout</a>
          </div>
        </div>
     </a>
     </li>
 
   <!--   <div class="text-center d-none d-md-inline">
       <button class="rounded-circle border-0" id="sidebarToggle"></button>
     </div> -->
   </ul>
    <!-- <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
     <a routerLink="/chat"><span>Chat</span></a>
    </ul> -->
  </div>
